.9pt-black {  font-family: "新細明體", "Arial"; font-size: 9pt; color: #000000}
.11pt-black { font-family: "新細明體", "Arial"; font-size: 11pt; color: #000000 ; letter-spacing: 1pt; word-spacing: 2pt}
.copy {  font-family: "Arial"; font-size: 8pt; color: #666666}
