vti_encoding:SR|utf8-nl
vti_author:SR|NYBLOM\\Administrator
vti_modifiedby:SR|NYBLOM\\Administrator
vti_timecreated:TR|12 Dec 2001 08:19:15 -0000
vti_timelastmodified:TR|26 Dec 2001 07:04:43 -0000
vti_filesize:IR|2093
vti_extenderversion:SR|4.0.2.3406
vti_backlinkinfo:VX|template1/main1.asp template1/admin-main1.asp template1/main2.asp template1/admin-main.asp template1/admin-main2.asp template1/main.asp
vti_nexttolasttimemodified:TR|26 Dec 2001 06:39:02 -0000
vti_cacheddtm:TX|26 Dec 2001 07:04:43 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
