vti_encoding:SR|utf8-nl
vti_author:SR|JOHNNY\\Administrator
vti_modifiedby:SR|JOHNNY\\Administrator
vti_timecreated:TR|30 Dec 2001 09:41:21 -0000
vti_timelastmodified:TR|30 Dec 2001 09:41:21 -0000
vti_cacheddtm:TX|30 Dec 2001 09:41:21 -0000
vti_filesize:IR|2093
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_extenderversion:SR|4.0.2.4426
vti_backlinkinfo:VX|template-product/admin-main2.asp template-product/main.asp template-product/main1.asp template-product/admin-main.asp template-product/admin-main1.asp template-product/main2.asp
